<html>


<head>
    <title>GHOST POST</title>
</head>

<body>
    <h1>Welcome to GHOST POST!</h1>
    <p>Filter by:
        <span>
            <a href="/"><button>All</button></a>
            <a href="/boasts"><button>Boasts</button></a>
            <a href="/roasts"><button>Roasts</button></a>
            <a href="/up"><button>Up</button></a>
            <a href="/down"><button>Down</button></a>

        </span>
    </p>
    {% block content %}

    {% endblock content %}
    <a href="/addpost"><button>ENTER A NEW BOAST OR ROAST!</button></a>
</body>

</html>